*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-size: 8vmin;
    background-color:grey;
    color:rgb(66, 21, 21);
}
.container{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;  
    width: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
}
.box{
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    object-fit: contain;
    background-color: white;
}
.scorebox{
    height: 30vmin;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vmin;
}

.sbox{
    height: 18vmin;
    width: 18vmin;
    font-size: 10vmin;
    color: brown;
}
#reset{
    margin-top: 5vmin;
    font-size: 5vmin;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    color: black;
    background-color: whitesmoke;
}
#msg{
    background-color: brown;
    color: gold;
    height: 5vmin;
    width: 50vmin;
    border-radius: 10%;
    border: none;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
}
.msgcont{
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vmin;
}
.hide {
    display: none;
}
.score {
    display: flex;
    text-align: center;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    height: 10vmin;
}
.box:hover{
    cursor: pointer;
    opacity: 0.5;
}
#reset:hover{
    opacity: 0.5;
    cursor: pointer;
}